*{
    margin: 0;
    padding: 0;
}

body{
    background: #99c1da;
    
    text-align: center;
}

.heading{
    background-color: yellow;
}

.container{
    height: 70vh;
    display: flex;
    
    justify-content: center;
    align-items: center; 
    
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    background-color: #fff;
    color: rgb(206, 138, 20);
}

#reset-btn{
    padding: 1rem;
    font: size 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 7%;
    border: none;
}
#new-game{
    padding: 1rem;
    font: size 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 7%;
    border: none;
}

#msg{
    color:red;
    font-size: 6vmin;
}
.msg-container{
    height: 30vmin;
}
.hide{
    display: none;
}